.back-link {
  display: block;
  text-align: left;
  margin: 20px;
  font-size: 16px;
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:#fffeed;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
  justify-items: center;
}
.caption {
  display: inline-block;
  background-color: #add8e6;
  color: black;
  font-size: 40px;
  padding-top: 50px;
  margin: 5px 0;
  border-radius: 5px;
  position: relative;
  text-decoration: none;
  transition: background-color 0.3s;
}


@media (max-width: 768px) {
  .box {
    flex: 1 1 100%;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px; 
  }
}

header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 40px;
      background-color:#add8e6;
      border-bottom: 1px solid #ddd;
      font-size:30px;
}
.logo{
  
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
  background-color:#add8e6;
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
  height:500px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.caption {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
}
